.aboutTitle {
    align-items: center;
    color: #D3D3D3;
    font-family: 'Mukta', sans-serif;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 10px;
    display: block;
    text-align: center;
    padding: 30px;
}

.description {
    align-items: center;
    color: #D3D3D3;
    font-family: 'Mukta', sans-serif;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.5px;
    display: block;
    text-align: center;
    padding: 10px;
}

.spotifyIcon {
    color: #D3D3D3;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 60px;
    height: 60px;
    page-break-after: always;
}

.pageBreak {
    overflow: clip; /* For IE */
    border: none;
    border-top: medium double #545049;
    color: #545049;
    padding-bottom: 0px;
}

.spotifyIcon:hover {
    opacity: 0.5;
}

body {
    min-height: 975px;
    position: static;
}