.projectsPageBreak {
    overflow: clip; /* For IE */
    border: none;
    border-top: 4px double #D3D3D3;
    color: #D3D3D3;
    padding-bottom: 0px;
}

.projectsTitle {
    color: #D3D3D3;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 10px;
    display: block;
    text-align: center;
    padding-top: 40px;
}

.projectsSubTitle {
    text-align: center;
    color: #D3D3D3;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.studyIcon {
    height: 100px;
    width: 120px;
}

.stockIcon {
    height: 100px; 
    width: 120px;
    padding-top: 10px;
}

.budgetIcon {
    height: 100px;
    width: 120px;
    padding-top: 10px;
}

.githubIcon {
    height: 30px;
    width: 30px;
}

.firstCard {
    text-align: center;
    padding: 10px;
    display: inline-block;
    border: 2px solid;
    min-height: 600px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 2px;
    max-width: 600px;
    min-width: 200px;
}

.secondCard {
    text-align: center;
    padding: 10px;
    display: block;
    border: 2px solid;
    min-height: 600px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 2px;
    max-width: 600px;
    min-width: 200px;
}

.secondCard:hover, .thirdCard:hover {
    opacity: 0.75;
}

.thirdCard {
    text-align: center;
    padding: 10px;
    display: block;
    border: 2px solid;
    min-height: 600px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 2px;
    max-width: 600px;
    min-width: 200px;
}

.columns {
    column-count: 3;
    column-gap: 40px;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
    justify-content: center;
    display: flex;
}

.projectsContainer {
    background-color: #545049;
    padding-bottom: 50px;
    text-align: center;
}

.resumeButton {
    background-color: #545049;
    font-family: 'Mukta', sans-serif;
    height: 50px;
    width: 200px;
    border: 90%;
    border-style: solid;
    border-color: #ADADAD;
    color: #ADADAD;
    opacity: 0.90;
}

a { color: #D3D3D3; text-decoration: none} /* Globally */
a:visited { text-decoration: none;}
a:hover { text-decoration: none; opacity: 0.5;}
a:focus { text-decoration: none;  opacity: 0.5; }
a:hover, a:active { text-decoration: none;}

@media only screen and (max-width: 988px) {
    .columns {
        align-items: center;
        column-count: unset;    
        display: flex;
        flex-direction: column;
    }
    .firstCard, .secondCard, .thirdCard {
        text-align: center;
        padding: 20px;
        display: inline-block;
        border: 2px solid;
        min-height: 300px;
        font-family: 'Mukta', sans-serif;
        letter-spacing: 2px;
        align-items: center;
        min-width: 200px;
    }
    .projectsSubTitle {
        padding-right: 30px;
        padding-left: 30px;
    }
    .projectsTitle {
        text-align: center;
    }
}