
nav {
	width: 5%;
	color: white;
	position: fixed;
	z-index: 10;
	background-color: var(--darkAccent);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
	right: 0;
	float: right;
	margin-right: 1px;
	vertical-align: middle;
	padding-top: 25%;
	border-radius: 50%;
}

nav span {
	font-size: 70px;
	border-bottom: 1px solid transparent;
	opacity: 0.5;
	margin: -15px;
}

nav span:hover {
	cursor: pointer;
	fill: white;
	opacity: 1;
}

nav span:hover i {
	color: gold;
	opacity: 1;
}

nav span.activeClass i {
	color: gold;
	opacity: 1;
}

nav span.activeClass {
	fill: white;
	opacity: 1;
}