

nav {
	width: 5%;
	position: sticky;
	z-index: 10;
	padding: 1.2em 0;
	color: black;
	background-color: var(--darkAccent);
	max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
}

nav span {
	font-size: 18px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: 1em;
	padding-bottom: 0.3em;
}

nav span:hover {
	cursor: pointer;
	border-bottom: 1px solid white;
}

nav span:hover i {
	color: gold;
}

nav span.activeClass i {
	color: gold;
}

nav span.activeClass {
	border-bottom-color: var(--lightAccent);
}